.login-input{
    padding: 5px 10px;
    outline: none;
    border: 0.2px solid #9c9999;
    background-color: #f9dbbd;
    /* box-shadow: 0.2px 0.2px 5px 0px #9c9999; */
    width: 80%;
    max-width: 250px;
    border-radius: 5px;
}
.login-button-container{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    /* background-color: antiquewhite; */
    width: 100%;
    max-width: 250px;
}
